/* general settings */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(208, 211, 204	);
}
/* /general setting */
/* utility classes */
.d_flex{
    display: flex;
}
/* /utility classes */
/* backgrounds for app */
.bg_ban_top{
   position: relative;
   background-color: rgb(16, 134, 117);
   height: 7.5rem;
   width: 100%;
   justify-content: space-around;
}

/* /backgrounds for app */
/* userbox & chatbox */
/* /userbox */
.container_app{
    position: absolute;
    margin-top: 40px;
    height: 45rem;
    width: 70rem;
}
.user_box{
    width: 40%;
    height: 100%;
    border: 1px solid red;
}
/* login user */
.login_user{
    width: 100%;
    height: 11%;
    background-color: rgb(229, 229,	229	);
}
.notify_box{
    width: 100%;
    height: 10%;
    background-color: rgb(126, 210, 251	);
}
/* /login user */
/* /userbox */
/* chatbox */
.chat_box{
    width: 60%;
    height: 100%;
    border: 1px solid red;
}
/* /chatbox */
